{{#each celebrities}}

   <p><a href="/celebrities/{{_id}}">{{name}}</a></p> 

   <form action="/celebrities/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>

{{/each}}

  <p><a href="/celebrities/new">Create a new Celebrity</a></p> 
